
body{
    background: rgb(217, 203, 171);
    padding:70px
}
*{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-bottom: 50px;
}
.wrap{
    width: 400px;
    margin:auto;
    height:auto;
    background: white;
    border-radius: 20px;
    padding:60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
form{
    box-shadow: 10px;
    height: 50vh;
}
input[type=text]{
    width:100%;
    padding:10px;
    font-size:30px;
    font-weight:bold;
    margin-top:20px;
    border-radius:10px;
    color: rgb(162, 123, 31);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container{
    padding-top: 20px;
}

input[type=button]
{
    width:65px;
    height: vh;
    padding:10px;
    font-size:22px;
    font-weight:bold;
    border-radius:10px;
    color: rgb(162, 123, 31);
    cursor: pointer;
}